<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :details %><br>
    <%= f.text_area :details, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :reserve_price %><br>
    <%= f.text_field :reserve_price, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Auction Now!", class:"btn btn-primary" %>
  </div>
<% end %>
