<div class="jumbotron">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>
<p>
  <strong>Details:</strong>
  <%= @list.details %>
</p>

<p>
  <strong>End date:</strong>
  <%= @list.end_date %>
</p>

<p>
  <strong>Reserve price:</strong>
  <%= @list.reserve_price %>
</p>
<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
<p class="pull-right">Current price: $ <%= @current_price %><p>
<br>
<div class="pull-right">
	<% if @list.published? %>
		<%= link_to "Reserve", list_publishings_path(@list), method: :post %>
	<% end%>
	<button class="btn btn-primary">
		<% if @list.aasm_state == "reserve_met" %>
			Reserve Price MET!
		<%else %>
			Reserve Price not MET!
		<% end %>
	</button>
</div>
</div>

<h4>Bid Now!</h4>
	<div class="jumbotron">
		<%= render "/bids/form" %>
	</div>
<hr>
<h4>Previous Bids:</h4>
	<div class="jumbotron">
		<div id="bids">
		  <% @list.bids.order('created_at DESC').each do |bid| %>
		    $ <%= bid.amount%> at <%= (bid.created_at).strftime('%B %d, %Y') %> <p>By: <%= bid.user.full_name%><p>
		    <br>
		  <% end %>
		</div>
	</div>

